

hr{
	height:2px;
	width:50px; 
	background-color:$primary-color;
	margin:0
}

button{
	background-color: transparent;
	border:1px solid $primary-color;
	border-radius: 0;
	color: $primary-color;
	width:100px; 
	text-align: center;
	padding: 6px 15px;
}


button:hover { 
	background-color : $primary-color;
	color: white;
	border:none;
	cursor: pointer;
}


@media only screen and (min-width: 768px) {
	.onsmalsize {
		display: none;
	}
}


@media only screen and (max-width: 767px) {
	
	// .schedule , .time div , .envelope , .bell , .notification , .messages{
	.schedule , .time div {
		display: none !important;
	}

	.onsmalsize {
		display: block;
	}

}

@media only screen and (max-width: 768px) {
	
	.media , .newsSlider  {
		margin-bottom: 40px;
	} 	

	.TodaySchedule {
		padding-top: 0px;
	}

	.TeacherInfo{
		margin-bottom: 0px;;
	}
	
	h1 {
		font-size: 32px;
	}

	h6 {
		font-size: 14px;
	}

	h4 {
		font-size: 18px;
	}

	h5 {
		font-size: 16px
	}

	h2{
		font-size: 24px;
	}

	hr {
		width: 35px;
	}



	.TodaySchedule{
		padding-top: 0px !important ;
		padding-bottom: 0px !important;
	}
	.research , .news {
		margin-bottom: 0px !important;
	}

	.notification ,.messages {
		width: 40vw !important;
	}
}


@media only screen and (max-width:427px) {
	
	.topCard {
		margin-bottom: 40px;
	}

	.rounded-circle {
		max-height: 200px;
	}

	h1{
		font-size: 22px;
	}

	h2 {
		font-size: 20px;
	}

	h4 {
		font-size: 14px;
	}

	h6 {
		font-size: 12px
	}

}


@media only screen and (max-width:576px) {

	.TeacherInfo .col-12{
		text-align: center;
		justify-content:center;
		margin-bottom: 20px;


		img {
			max-height: 250px;
		}

	}


}